# ignore auto generated folders
.sx/*
auto-save-list/*
chinese-fonts-setup/*
cnfonts/*
elpa/*
emms/*
irony/*
server/*
tutorial/*
semanticdb/*
url/*
.emacs-custom.el
.mc-lists.el
*.*~
*.dat
*.elc
*.emacs.desktop*
*.session
bookmarks
ede-projects.el
network-security.data
recentf
srecode-map.el
tramp

# ignore platform dependent configuration files
manual/*
init-package-manual.el
